<div class="jumbotron">
    <h1>Beste Zitate</h1>
    <form class="form-inline row">
        <div class="form-group">
            <label for="minRating">
                Zeige nur Zitate mit Bewertung besser als:
            </label>
            <input type="number" title="Zeige nur Zitate, deren Bewertung gr&ouml;&szlig;er ist als"
                   ng-model="detailCtrl.minRating" step="1" pattern="\-?\d+"
                   ng-change="detailCtrl.resetQuotes()" class="form-control input-sm"
                   id="minRating">
        </div>
        <a title="Drucken" class="btn btn-success"
           ng-href="{{'/secure/print/quotes/by/rating/' + detailCtrl.minRating}}">
            <span class="glyphicon glyphicon-print"></span> Drucken
        </a>
    </form>
</div>

<div class="container-fluid"
     infinite-scroll="detailCtrl.nextPage()"
     infinite-scroll-disable="detailCtrl.disableScroll">
    <sic-quote ng-repeat="quote in detailCtrl.getQuotes()"></sic-quote>
</div>
