<div ng-hide="isAuthenticated()">
    <div class="pull-right image-margin">
        <img class="img-responsive" src="https://placekitten.com/510/300"/>
        Inspirierendes Bild einer cuten Katze, damit sich Besucher<br/>
        sofort wohl f&uuml;hlen
    </div>

    <div class="jumbotron">
        <h1>Zitatmanagement wie nie zuvor</h1>
        <p>
            Dies ist ein inspirierender Text, der Besucher dieser Webseite zu weiteren Aktionen
            motiviert. Er beschreibt, wie dieses Produkt durch noch nie zuvor gesehenes
            Zitatmanagement ihr Leben vollkommen zum Besseren wenden kann.
        </p>
    </div>
</div>

<div ng-show="isAuthenticated()">
    <div class="jumbotron">
        <h1>Zitatmanagement wie nie zuvor</h1>
        <p>
            Willkommen bei sic, dem zentralisierten Zitatservice! Bitte w&auml;hle unten eine
            Person aus, zu der du Zitate ansehen m&ouml;chtest.
        </p>
    </div>

    <div class="container-fluid sic-person-tile-container">
        <div class="col-xs-12 col-md-4 sic-person-tile-wrapper"
             ng-repeat="person in homeCtrl.people"> <!-- grid wrapper -->
            <a ui-sref="person.detail({id: person.id})">
                <div class="sic-person-tile bg-primary">
                    <!-- actual tile, for margins without killing the columns -->
                   <span class="text-center">
                       {{person.firstName}}<br/>
                       {{person.lastName}}
                   </span>
                </div>
            </a>
        </div>
        <dic ng-class="col xs-12 col-md-4 sic-person-tile-wrapper">
            <a ui-sref="person.detail({id: 'new'})">
                <div class="sic-person-tile bg-primary">
                    <!-- actual tile, for margins without killing the columns -->
                   <span class="text-center">
                       {{person.firstName}}<br/>
                       {{person.lastName}}
                   </span>
                </div>
            </a>
        </dic>
    </div>
</div>

