<div ng-hide="isAuthenticated()">
    <div class="pull-right image-margin">
        <img class="img-responsive" src="https://placekitten.com/510/300"/>
        Inspirierendes Bild einer cuten Katze, damit sich Besucher<br/>
        sofort wohl f&uuml;hlen
    </div>

    <div class="jumbotron">
        <h1>Zitatmanagement wie nie zuvor</h1>
        <p>
            Dies ist ein inspirierender Text, der Besucher dieser Webseite zu weiteren Aktionen
            motiviert. Er beschreibt, wie dieses Produkt durch noch nie zuvor gesehenes
            Zitatmanagement ihr Leben vollkommen zum Besseren wenden kann.
        </p>
    </div>
</div>

<div ng-show="isAuthenticated()">
    <div class="panel panel-primary" ng-if="homeCtrl.videoUrl">
        <div class="panel-heading">
            <h3 class="panel-title">Einf&uuml;hrung</h3>
        </div>
        <div class="panel-body">
            <p>
                Willkommen bei [sic!], {{::auth.getUserName()}}! W&auml;hle unten eine
                Person aus, zu der du Zitate ansehen willst. Wenn dir eines gef&auml;llt,
                kannst du es mit dem Plusknopf upvoten. Wenn du es drucken willst, gibt
                es auch einen Knopf zum Drucken. Mit dem Plus rechts neben den Lehrernamen
                kannst du deine eigenen Zitate hinzuf&uuml;gen!
            </p>
            <p>
                Hier noch ein informatives Video zur Verwendung der Plattform:
            </p>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item"
                        ng-src="{{homeCtrl.videoUrl}}"
                        allowfullscreen>
                </iframe>
            </div>
            <p>
                #BlameXaverNahler
            </p>
            <p>
                It's just a prank!! Keine Angst, du wirst dieses Video
                nie wieder zu Gesicht bekommen m&uuml;ssen, sobald du
                die Seite neu l&auml;dst.
            </p>
        </div>
    </div>

    <div class="jumbotron">
        <h1>Zitatmanagement wie nie zuvor</h1>
        <p>
            Willkommen bei sic, dem zentralisierten Zitatservice! Bitte w&auml;hle unten eine
            Person aus, zu der du Zitate ansehen m&ouml;chtest.
        </p>
    </div>

    <div class="container-fluid sic-person-tile-container">
        <div class="col-xs-12 col-md-4 sic-person-tile-wrapper"
             ng-repeat="person in homeCtrl.people"> <!-- grid wrapper -->
            <a ui-sref="person.detail({id: person.id})">
                <div class="sic-person-tile bg-primary">
                    <!-- actual tile, for margins without killing the columns -->
                   <span class="text-center">
                       {{person.firstName}}<br/>
                       {{person.lastName}}
                   </span>
                </div>
            </a>
        </div>
        <a ui-sref="person.detail({id: 'new'})">
            <div class="col-xs-12 col-md-4 sic-person-tile-wrapper">
                <div class="sic-person-tile sic-new-person-tile text-center">
                    <span>+</span>
                </div>
            </div>
        </a>
    </div>
</div>

