<div class="alert alert-error" ng-hide="isAuthenticated()">
    Du bist nicht eingeloggt! <a ui-sref="login">Login</a>
</div>

<div ng-show="isAuthenticated()">
    <div ng-hide="detailCtrl.isFetched()">
        Lade Zitate...
    </div>

    <div ng-show="detailCtrl.isFetched()">
        <h1>
            {{detailCtrl.getPerson().name}}
            <small ng-hide="auth-guest()">
                <span class="sic-person-actions">
                    <a ng-click="detailCtrl.new()"
                       title="Neues Zitat" class="glyphicon glyphicon-plus"></a>
                </span>
            </small>
        </h1>

        <div class="container-fluid">
            <sic-quote ng-repeat="quote in detailCtrl.getQuotes()" ></sic-quote>
        </div>
    </div> <!-- /isFetched() -->
</div> <!-- /isAuthenticated() -->
