<div class="modal-header">
    <h3 class="modal-title">Neue Person erstellen</h3>
</div>
<div class="modal-body">
    <p>
        Bitte gib den Namen der neuen Person ein. Beachte, dass dieser sp&auml;ter nicht mehr ge&auml;ndert werden kann!
    </p>
    <form role="form">
        <label for="sic-person-name">Name:</label>
        <input class="form-control" type="text" ng-model="modalCtrl.name"
               placeholder="Vorname Nachname" id="sic-person-name">
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="modalCtrl.ok()">Ok</button>
    <button class="btn btn-warning" type="button" ng-click="modalCtrl.cancel()">Abbrechen</button>
</div>
