<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Zitat drucken | sic</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <!--suppress HtmlUnknownTarget -->
    <link rel="stylesheet" href="/css/sic.min.css"/>
</head>

<body onload="window.print();">
<!--/*@thymesVar id="person" type="li.l1t.sic.model.Person"*/-->
<!--/*@thymesVar id="quote" type="li.l1t.sic.model.Quote"*/-->

<div>
    <div class="sic-quote sic-print-quote">
        <p th:text="${quote.getText()}"></p> <!-- TODO -->
        <footer>
            <span th:text="${person.getName()}"></span>,
            <span th:text="${quote.getSubText()}"></span>
        </footer>
    </div>
</div>
</body>
</html>
